@CHARSET "ISO-8859-1";
body{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	background-image:url('../img/bg.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:bottom;
	background-size: cover;
}
.center{
	text-align: center;
}
.mainwell{
	width: 100%;
	height: 100%
}
.main{
	align: center;
	text-align: center;
	max-width: 90%;
	max-height: 90%;
}